.value {
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    color: white;
}

.flip-card {
    background-color: transparent;
    perspective: 1000px;
    width: calc(80px * 2);
    height: calc(123px * 2);
}

.flip-card.small {
    width: 80px;
    height: 123px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 22px;
}

.flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../../src/assets/images/card-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.flip-card-front {
    z-index: 2;
}

.flip-card-back {
    transform: rotateY(180deg);
    z-index: 1;
}
